<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title>Supervisor App</title>  
    <link rel="shortcut icon" type="image/ico" href="../shared/img/favicon.ico" />
    
    <!-- Onsen UI -->
    <link rel="stylesheet" href="../libs/onsen/css/onsenui.css"/>  
    <link rel="stylesheet" href="../libs/onsen/css/onsen-css-components-blue-basic-theme.css"/>  
    <script type="text/javascript" src="../libs/onsen/js/angular/angular.min.js"></script>    
    <script type="text/javascript" src="../libs/onsen/js/onsenui.min.js"></script>    

    <!-- Angular plugins -->
    <script type="text/javascript" src="../libs/angular/angular-translate.min.js"></script>    
    <script type="text/javascript" src="../libs/angular/toastr/angular-toastr.min.js"></script>    
    <link rel="stylesheet" href="../libs/angular/toastr/angular-toastr.min.css"/>  
    
    <!-- Miscellaneous -->
    <link rel="stylesheet" href="../libs/bootstrap-grid12.css"/>  
    <script type="text/javascript" src="../libs/moment.min.js"></script>    
    <script type="text/javascript" src="../libs/amplify.store.min.js"></script>    
    <script type="text/javascript" src="../libs/underscore.min.js"></script>    
    
    <!-- Application -->
    <link rel="stylesheet" href="css/main.css"/>
    <script type="text/javascript" src="js/main.js"></script>  
	<script type="text/javascript" src="js/alasql.js"></script>
	<script type="text/javascript" src="js/alasql.min.js"></script>  	
    <script type="text/javascript" src="js/translate.js"></script>    
    <script type="text/javascript" src="js/misc.js"></script>   

	<!-- ktraore() -->
	  <link rel="stylesheet" href="css/ngPopup.css">
	  <script type="text/javascript" src="js/ngPopup.js"></script>
	  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
	  <script src="http://code.jquery.com/jquery-latest.js"></script>
	  <script src="http://cdn.jsdelivr.net/alasql/0.2/alasql.min.js"></script> 
	  <script src="http://cdn.jsdelivr.net/alasql/latest/alasql.min.js"></script>
	  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!-- ktraore() -->
	
</head>

<body ng-controller="servicingCtrl">    
    <ons-sliding-menu
        menu-page="menu.html" main-page="servicing.html" side="left"
        var="menu" type="reveal" max-slide-distance="260px" swipable="true">
    </ons-sliding-menu>


    <ons-template id="loading-dialog.html">
        <ons-dialog animation="none">
            <ons-row>
                <ons-col>
                    <br/>
                    <img src="../shared/img/preloader.GIF" alt="" title="Loading..."/>
                    <br/>
                    <p>{{'msgLoading' | translate}}</p>
                </ons-col>
            </ons-row>
        </ons-dialog>
    </ons-template>

    <ons-template id="confirm-dialog.html">
        <ons-dialog animation="none">
            <ons-row>
                <ons-col>
                    <p>{{confirm.message | translate}}</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <ons-button modifier="normal" ng-click="confirm.yes()">{{confirm.label.yes | translate}}</ons-button>
                </ons-col>
                <ons-col>
                    <ons-button modifier="normal" ng-click="confirm.no()">{{confirm.label.no | translate}}</ons-button>
                </ons-col>
            </ons-row>
        </ons-dialog>
    </ons-template>

    <ons-template id="chrono-dialog.html">
        <ons-dialog>
            <br/>
            <ons-row class="input">
                <ons-col>
                    <label>{{'Minutes' | translate}}</label>                   
                </ons-col>
                <ons-col>
                    <label>{{'Seconds' | translate}}</label>                   
                </ons-col>
            </ons-row>
            <ons-row class="input">
                <ons-col>
                    <label>State:<select ng-model="chrono.dialog.minutes" ng-options="n for n in [] | range:0:60"></select></label>
                </ons-col>
                <ons-col>
                    <label>State:<select ng-model="chrono.dialog.seconds" ng-options="n for n in [] | range:0:60"></select></label>
                </ons-col>
            </ons-row>
            <br/>
            <ons-row>
                <ons-col>
                    <ons-button modifier="cta" ng-click="chrono.dialog.close()">{{'Close' | translate}}</ons-button>                    
                </ons-col>
                <ons-col>
                    <ons-button modifier="normal" ng-click="chrono.dialog.save()">{{'Save' | translate}}</ons-button>
                </ons-col>
            </ons-row>
        </ons-dialog>
    </ons-template>
</body>
</html>
